section#main {
	background-color: #a400ae;
	height: 50vh;
}
h1{
	color: #fff;
	text-transform: uppercase;
}
.main_header{
	margin-top: 10%;
}
section#icons {
	margin-top: 100px;
}
section#element{
	height: 50vh;
	margin-top: 100px;
}
.box {
	height: 100px;
	border: 2px solid #000;
	margin-top: 20px;
}
.cell {
	height: 50px;
	background-color: green;
	border: 2px dashed #000;
	padding-top: 12px;
	color: #fff;
}
.level_2 {
	padding: 22px;
}