@font-face {
  font-family: "PT Sans Font";
  src: url("../fonts/PT_Sans-Narrow-Web-Regular.woff2") format("woff2"), url("../fonts/PTSans-Narrow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PT Sans Font";
  src: url("../fonts/PT_Sans-Narrow-Web-Bold.woff2") format("woff2"), url("../fonts/PTSans-NarrowBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "PT Sans Font", sans-serif;
  background-color: #242424;
  font-size: 18px; }

@media (min-width: 768px) {
  body {
    background-color: #353535; } }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 500px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 640px;
      padding: 0;
      max-width: none; } }
  @media (min-width: 1200px) {
    .container {
      width: 960px; } }

.button {
  width: 260px;
  font-size: 18px;
  border: 1px solid #e5ddd5;
  padding: 15px 0;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold; }
  .button:hover {
    cursor: pointer;
    border: 1px solid #d2c4b6; }

@media (min-width: 768px) {
  .button {
    width: 160px; } }

@media (min-width: 768px) {
  .angle-header .page-header__logo {
    height: 210px;
    position: relative; }
    .angle-header .page-header__logo::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 150px;
      bottom: 0;
      background-image: url("../img/angle-light.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }

@media (min-width: 1200px) {
  .angle-header .page-header__logo {
    height: 310px; } }

.angle-bottom {
  background-position: center 1px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px; }
  .angle-bottom--light {
    background-image: url("../img/angle-light.svg"); }
  .angle-bottom--dark {
    background-image: url("../img/angle-dark.svg"); }
  .angle-bottom--black {
    background-image: url("../img/angle-black.svg"); }
  @media (min-width: 768px) {
    .angle-bottom {
      background-image: none; } }

.page-header {
  display: flex;
  flex-direction: column; }

.page-header__logo {
  background-color: #242424;
  display: block;
  padding: 25px 0; }
  @media (min-width: 768px) {
    .page-header__logo {
      background: #242424 url("../img/back-tablet.jpg") no-repeat center center;
      background-size: cover;
      background-color: transparent;
      order: 2;
      padding: 0;
      height: 400px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
      background-image: url("../img/back-tablet@2x.jpg"); } }
  @media (min-width: 1200px) {
    .page-header__logo {
      height: 650px;
      background-image: url("../img/back-desktop.jpg"); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
      background-image: url("../img/back-desktop@2x.jpg"); } }

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  width: 226px; }
  @media (min-width: 768px) {
    .page-header__logo-image {
      width: 370px;
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .page-header__logo-image {
      width: 370px;
      margin-top: 60px; } }

.main-nav {
  position: relative;
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  min-height: 50px;
  background-color: #826550;
  display: flex; }
  @media (min-width: 768px) {
    .main-nav {
      background-color: #000000;
      width: 100%; } }

.main-nav__toggle {
  flex-shrink: 0; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .main-nav__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 640px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .main-nav__wrapper {
      width: 960px; } }

.main-nav--opened .main-nav__toggle, .main-nav--closed .main-nav__toggle {
  background-color: #6a4d38;
  border: none;
  width: 70px;
  font-size: 0; }

.main-nav--closed .main-nav__toggle {
  order: 1; }

.main-nav--closed .main-nav__toggle span {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto; }
  .main-nav--closed .main-nav__toggle span::before, .main-nav--closed .main-nav__toggle span::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--closed .main-nav__toggle span::before {
    top: 5px; }
  .main-nav--closed .main-nav__toggle span::after {
    top: -5px; }

.main-nav--opened .main-nav__toggle {
  order: -1; }

.main-nav--opened .main-nav__toggle span {
  display: block;
  position: relative;
  width: 30px;
  height: 0;
  background-color: #ffffff;
  margin: 0 auto; }
  .main-nav--opened .main-nav__toggle span::before, .main-nav--opened .main-nav__toggle span::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle span::before {
    transform: rotate(45deg);
    top: 0; }
  .main-nav--opened .main-nav__toggle span::after {
    transform: rotate(-45deg);
    top: 0; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block;
      text-align: center;
      padding-left: 70px; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 1; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    width: 100%; }
  .main-nav--nojs .site-list__item {
    display: block; }
    .main-nav--nojs .site-list__item--active {
      text-align: left; }
  .main-nav--nojs .user-list__item {
    display: block; } }

.site-list {
  list-style: none;
  background-color: #826550; }
  @media (min-width: 768px) {
    .site-list {
      background-color: transparent;
      display: flex;
      flex-wrap: wrap; } }

.site-list__item {
  border-bottom: 1px solid #624c3d;
  border-top: 1px solid #a07e65; }
  @media (min-width: 768px) {
    .site-list__item {
      border: none;
      margin-right: 40px; }
      .site-list__item:last-child {
        margin-right: 0; }
      .site-list__item--active {
        border-bottom: 2px solid #826550; } }
  @media (min-width: 1200px) {
    .site-list__item {
      width: 160px;
      text-align: center;
      margin: 0; }
      .site-list__item--active {
        border: none;
        position: relative; }
        .site-list__item--active::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 30px;
          left: 30px;
          height: 3px;
          background-color: #826550; } }

.site-list__link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 14px; }
  @media (min-width: 768px) {
    .site-list__link {
      padding: 20px 0; } }
  @media (min-width: 1200px) {
    .site-list__link {
      transition: all .2s; }
      .site-list__link:hover[href] {
        color: #000000;
        background-color: #ffffff; } }

.user-list {
  list-style: none;
  background-color: #6a4d38; }
  @media (min-width: 768px) {
    .user-list {
      background-color: transparent; } }

.user-list__item {
  position: relative; }

.user-list__login {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0 10px 45px; }
  .user-list__login::before {
    content: "";
    background-image: url("../img/login-icon.svg");
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: 20px;
    top: 13px; }
  @media (min-width: 768px) {
    .user-list__login {
      padding: 20px 0;
      padding-left: 25px;
      font-size: 0; }
      .user-list__login::before {
        left: 0;
        top: 13px; } }
  @media (min-width: 1200px) {
    .user-list__login {
      font-size: 18px; }
      .user-list__login::before {
        left: 0;
        top: 24px; } }

@media (min-width: 768px) {
  .stats__wrapper {
    margin: 0 auto;
    width: 640px;
    margin-top: -208px;
    display: grid;
    grid-template-rows: 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content; } }

@media (min-width: 1200px) {
  .stats__wrapper {
    margin-top: -163px;
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
    width: 960px; } }

.stats__header {
  background-color: #ffffff;
  padding: 30px 40px; }
  @media (min-width: 768px) {
    .stats__header {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1200px) {
    .stats__header {
      grid-template-columns: auto;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content; } }

.stats__title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 1; }
  @media (min-width: 768px) {
    .stats__title {
      text-align: left;
      font-size: 40px; } }

.stats__text {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 27px; }
  @media (min-width: 768px) {
    .stats__text {
      text-align: left;
      margin-top: 0;
      padding: 0 30px;
      padding-top: 5px; } }
  @media (min-width: 1200px) {
    .stats__text {
      padding: 0;
      margin-top: 50px; } }

.stats__list {
  border-collapse: collapse;
  width: 100%; }
  @media (min-width: 1200px) {
    .stats__list {
      height: 100%; } }

@media (min-width: 768px) {
  .stats__list tbody {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1200px) {
  .stats__list tbody {
    height: 100%; } }

.stats__list tr {
  display: flex;
  justify-content: space-between;
  padding: 20px; }
  @media (min-width: 768px) {
    .stats__list tr {
      flex-direction: column;
      justify-content: center;
      padding: 30px; } }
  .stats__list tr:nth-child(1), .stats__list tr:nth-child(4) {
    background-color: #404040; }
  .stats__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(3) {
    background-color: #353535; }

.stats__value {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  width: 55%; }
  @media (min-width: 768px) {
    .stats__value {
      font-size: 72px;
      width: 100%; } }

.stats__value sup {
  position: absolute;
  top: 15px;
  margin-left: 10px; }
  @media (min-width: 768px) {
    .stats__value sup {
      top: 25px; } }

.stats__field {
  font-size: 18px;
  color: #f8f5f2;
  text-align: right;
  color: #ffffff;
  width: 45%; }
  @media (min-width: 768px) {
    .stats__field {
      text-align: left;
      width: 100%; } }

@media (min-width: 768px) {
  .stats__field br {
    display: none; } }

.stats__legend {
  display: block;
  text-align: center;
  font-size: 20px; }
  .stats__legend--top {
    display: none;
    color: #aba9a7;
    text-align: left; }
    @media (min-width: 768px) {
      .stats__legend--top {
        margin-top: 20px; } }
    @media (min-width: 1200px) {
      .stats__legend--top {
        margin-top: 40px; } }
  .stats__legend--bottom {
    padding: 20px 0;
    color: #aba9a7;
    background-color: #242424; }
  @media (min-width: 768px) {
    .stats__legend--top {
      display: block; }
    .stats__legend--bottom {
      display: none; } }

.stats__footnote {
  font-size: 42px;
  line-height: 25px;
  top: auto; }

@media (min-width: 768px) {
  .advantages {
    padding-top: 10px;
    padding-bottom: 60px;
    background-image: url("../img/angle-light.svg"); } }

@media (min-width: 1200px) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 80px; } }

.advantages__list {
  list-style: none; }
  @media (min-width: 768px) {
    .advantages__list {
      display: block; } }
  @media (min-width: 1200px) {
    .advantages__list {
      display: flex; } }

.advantages__item {
  max-width: 300px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .advantages__item {
      display: flex;
      align-items: center;
      padding: 30px 0;
      max-width: none; }
      .advantages__item:nth-child(2) {
        border-top: 1px solid rgba(229, 221, 213, 0.1);
        border-bottom: 1px solid rgba(229, 221, 213, 0.1); } }
  @media (min-width: 1200px) {
    .advantages__item {
      flex-direction: column; }
      .advantages__item:nth-child(2) {
        border: none;
        border-right: 1px solid rgba(229, 221, 213, 0.1);
        border-left: 1px solid rgba(229, 221, 213, 0.1); } }

.advantages__image {
  display: block;
  margin: 0 auto;
  width: 95px;
  height: 95px; }
  @media (min-width: 768px) {
    .advantages__image {
      margin: 0; } }

.advantages__wrapper-text {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .advantages__wrapper-text {
      margin-top: 0;
      padding: 0 35px; } }
  @media (min-width: 1200px) {
    .advantages__wrapper-text {
      margin-top: 40px;
      padding: 0 45px; } }

.advantages__title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .advantages__title {
      text-align: left; } }
  @media (min-width: 1200px) {
    .advantages__title {
      text-align: center; } }

.advantages__description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 25px; }
  @media (min-width: 768px) {
    .advantages__description {
      text-align: left; } }
  @media (min-width: 1200px) {
    .advantages__description {
      text-align: center;
      margin-top: 20px; } }

.advantages__dots {
  margin-top: 30px;
  display: flex;
  justify-content: center; }

.advantages__dot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #f8f5f2;
  transform: rotate(45deg);
  font-size: 0;
  margin: 0 10px; }
  .advantages__dot.active {
    background-color: #f8f5f2; }

.news {
  background-color: #f8f5f2;
  padding-top: 40px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .news {
      padding-top: 50px;
      padding-bottom: 40px; } }
  @media (min-width: 1200px) {
    .news {
      padding-top: 65px; } }

@media (min-width: 768px) {
  .news__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

.news__title {
  font-size: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .news__title {
      font-size: 40px;
      text-align: left;
      order: 1; } }
  @media (min-width: 1200px) {
    .news__title {
      margin-left: 70px; } }

.news__list {
  list-style: none;
  margin-top: 35px; }
  @media (min-width: 768px) {
    .news__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      order: 3; } }
  @media (min-width: 1200px) {
    .news__list {
      grid-template-columns: 1fr 1fr 1fr; } }

.news__item {
  display: flex;
  align-items: start;
  padding: 20px 0;
  border-bottom: 1px solid #e5ddd5; }
  .news__item:first-child {
    padding-top: 0; }
  .news__item:nth-child(2) {
    padding-bottom: 0;
    border-bottom: none; }
  .news__item:nth-child(3) {
    display: none; }
  @media (min-width: 768px) {
    .news__item {
      border: none;
      padding: 0; } }
  @media (min-width: 1200px) {
    .news__item:nth-child(3) {
      display: flex; } }

.news__date {
  flex-shrink: 0;
  font-size: 16px;
  min-width: 53px;
  min-height: 65px;
  color: #ffffff;
  background-image: url("../img/news-label.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  line-height: 1;
  padding-top: 5px; }

.news__day {
  font-size: 30px;
  display: block; }

.news__text {
  margin-left: 20px;
  font-size: 18px; }

.news__to-all {
  margin-top: 50px;
  width: 100%; }
  @media (min-width: 768px) {
    .news__to-all {
      width: 160px;
      order: 2;
      margin: 0; } }

.reviews {
  background-color: #f8f5f2;
  padding-top: 30px;
  border-top: 1px solid #e5ddd5; }
  @media (min-width: 768px) {
    .reviews {
      padding-top: 40px;
      padding-bottom: 65px; } }
  @media (min-width: 1200px) {
    .reviews {
      padding-bottom: 50px; } }

@media (min-width: 768px) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.reviews__title {
  font-size: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .reviews__title {
      text-align: left;
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .reviews__title {
      margin-left: 70px; } }

.reviews__set-feedback {
  display: none; }
  @media (min-width: 768px) {
    .reviews__set-feedback {
      display: block; } }

.reviews__list {
  margin-top: 30px;
  position: relative; }
  @media (min-width: 768px) {
    .reviews__list {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .reviews__list {
      margin-top: 35px; } }

.reviews__item {
  display: flex;
  flex-shrink: 0; }
  @media (min-width: 768px) {
    .reviews__item {
      align-items: center;
      border: 1px solid #e5ddd5;
      height: 160px;
      margin: 0 50px; } }
  @media (min-width: 1200px) {
    .reviews__item {
      margin: 0 70px; } }

.reviews__author-picture {
  flex-shrink: 0; }

.reviews__author-image {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .reviews__author-image {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-left: 30px; } }
  @media (min-width: 1200px) {
    .reviews__author-image {
      width: 250px;
      height: 160px;
      border-radius: 0;
      margin: 0; } }

.reviews__wrapper-text {
  margin-left: 20px; }
  @media (min-width: 768px) {
    .reviews__wrapper-text {
      margin-left: 35px;
      padding-right: 35px; } }
  @media (min-width: 1200px) {
    .reviews__wrapper-text {
      margin-left: 70px;
      padding-right: 70px; } }

.reviews__author-name {
  font-style: normal;
  font-size: 24px;
  font-weight: bold; }

.reviews__text {
  font-size: 18px;
  line-height: 27px;
  margin-top: 15px; }

.reviews__prev, .reviews__next {
  display: none; }
  @media (min-width: 768px) {
    .reviews__prev, .reviews__next {
      display: block;
      position: absolute;
      height: 160px;
      width: 50px;
      top: 0;
      background-color: #f8f5f2;
      border: 1px solid #e5ddd5;
      font-size: 0px;
      cursor: pointer; }
      .reviews__prev:hover, .reviews__next:hover {
        border: 1px solid #d2c4b6; } }
  @media (min-width: 1200px) {
    .reviews__prev, .reviews__next {
      border: 1px solid #e5ddd5; } }

@media (min-width: 768px) {
  .reviews__prev {
    border-right: none;
    left: 0; }
    .reviews__prev::before {
      font-size: 16px;
      content: "\25C4"; } }

@media (min-width: 1200px) {
  .reviews__prev {
    border-right: 1px solid #e5ddd5; } }

@media (min-width: 768px) {
  .reviews__next {
    border-left: none;
    right: 0; }
    .reviews__next::before {
      font-size: 16px;
      content: "\25BA"; } }

@media (min-width: 1200px) {
  .reviews__next {
    border-left: 1px solid #e5ddd5; } }

.reviews__dots {
  margin-top: 30px;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .reviews__dots {
      margin-top: 0;
      padding: 0 25px;
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      background-color: #f8f5f2; } }
  @media (min-width: 1200px) {
    .reviews__dots {
      position: static;
      margin-top: 40px;
      padding: 0;
      width: 100%;
      transform: unset; } }

.reviews__dot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #353535;
  transform: rotate(45deg);
  font-size: 0;
  margin: 0 10px; }
  .reviews__dot.active {
    background-color: #353535; }

.page-footer {
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #292929; }
  @media (min-width: 768px) {
    .page-footer {
      padding-top: 55px;
      padding-bottom: 55px; } }

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .page-footer__wrapper {
    align-items: flex-start;
    justify-content: flex-start; } }

.page-footer__contacts {
  padding: 0 20px; }
  @media (min-width: 768px) {
    .page-footer__contacts {
      padding: 0;
      flex-shrink: 0;
      order: 1; } }
  @media (min-width: 1200px) {
    .page-footer__contacts {
      padding: 0; } }

.page-footer__social {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .page-footer__social {
      order: 3;
      width: 100%;
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    .page-footer__social {
      width: auto;
      order: 2;
      margin: 0;
      margin-left: 80px; } }

.page-footer__copyright {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      width: 160px;
      order: 2;
      flex-shrink: 0;
      margin: 0;
      margin-left: auto; } }
  @media (min-width: 1200px) {
    .page-footer__copyright {
      order: 3; } }

.contacts__name {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  display: block; }
  @media (min-width: 768px) {
    .contacts__name {
      text-align: left; } }

.contacts__address {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .contacts__address {
      text-align: left; } }

.contacts__tel {
  font-size: 18px;
  color: #ffffff;
  display: block;
  border: 1px solid #4a4a4a;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 0;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .contacts__tel {
      border: none;
      text-align: left;
      font-weight: normal;
      margin-top: 10px;
      padding: 0; } }

.social__list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%; }
  @media (min-width: 1200px) {
    .social__list {
      margin-top: 20px; } }

.social__item {
  flex-grow: 1; }
  @media (min-width: 1200px) {
    .social__item {
      margin: 0 3px; } }

.social__link {
  display: block;
  flex-grow: 1;
  color: #ffffff;
  text-decoration: none;
  height: 100px;
  border: 1px solid #4a4a4a;
  background-repeat: no-repeat;
  background-position: center center; }
  .social__link--vk {
    background-image: url("../img/vk-icon.svg");
    background-size: 50px; }
  .social__link--fb {
    background-image: url("../img/facebook-icon.svg");
    background-size: 20px; }
  .social__link--inst {
    background-image: url("../img/insta-icon.svg");
    background-size: 35px; }
  @media (min-width: 1200px) {
    .social__link {
      width: 50px;
      height: 50px;
      background-size: auto; } }

.social__slogan {
  display: none; }
  @media (min-width: 1200px) {
    .social__slogan {
      display: block;
      color: #ffffff;
      font-size: 18px;
      text-align: center; } }

.copyright__text {
  display: block;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  font-size: 18px; }

.copyright__link {
  color: #ffffff;
  margin: 20px auto 0; }
  .copyright__link:hover {
    background-color: #ffffff;
    color: #000000; }
  @media (min-width: 768px) {
    .copyright__link {
      margin: 0;
      margin-top: 20px;
      margin-left: auto; } }

.form-register {
  background-color: #f8f5f2;
  padding-top: 35px;
  padding-bottom: 75px; }
  @media (min-width: 768px) {
    .form-register {
      padding-top: 60px; } }
  @media (min-width: 1200px) {
    .form-register {
      padding-bottom: 85px; } }

@media (min-width: 768px) {
  .form-register__first-row {
    display: flex;
    justify-content: space-between; } }

.form-register__title {
  text-align: center;
  font-size: 30px; }
  @media (min-width: 768px) {
    .form-register__title {
      text-align: left;
      font-size: 40px; } }

.form-register__href-main {
  display: none; }
  @media (min-width: 768px) {
    .form-register__href-main {
      display: block; } }

.form-register__form {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .form-register__form {
      margin-top: 70px; } }

.form-register__form fieldset {
  border: none;
  padding: 0; }

.form-register__fieldset {
  margin-top: 45px; }

@media (min-width: 768px) {
  .form-register__group-name {
    display: flex;
    justify-content: space-between; } }

.form-register__input-wrapper {
  position: relative;
  margin-bottom: 6px; }
  .form-register__input-wrapper::before {
    content: "*";
    font-size: 32px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    line-height: 20px;
    color: #dc3545; }
  @media (min-width: 768px) {
    .form-register__input-wrapper {
      margin-bottom: 35px; } }
  .form-register__input-wrapper.error {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .form-register__input-wrapper.error {
        margin-bottom: 35px; } }

.form-register__input {
  padding: 15px 20px;
  border: 1px solid #e5ddd5;
  width: 100%; }
  .form-register__input.valid {
    border: 2px solid #198754; }
  .form-register__input.error {
    border: 2px solid #dc3545; }

@media (min-width: 768px) {
  .form-register__group-name .form-register__input {
    width: 205px; } }

@media (min-width: 1200px) {
  .form-register__group-name .form-register__input {
    width: 300px; } }

span.error {
  position: absolute;
  left: 20px;
  bottom: -20px;
  font-size: 14px;
  color: #dc3545; }

#beards-error {
  position: absolute;
  top: -50px;
  left: 0;
  bottom: auto;
  white-space: nowrap; }

.form-register__group-contacts {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .form-register__group-contacts {
      margin-top: 0; } }
  @media (min-width: 1200px) {
    .form-register__group-contacts {
      display: flex;
      justify-content: space-between; } }

@media (min-width: 1200px) {
  .form-register__group-contacts .form-register__input {
    width: 460px; } }

.form-register__textarea {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .form-register__textarea {
      margin-top: 0; } }

.form-register__group-title {
  text-align: center;
  font-size: 20px; }
  @media (min-width: 768px) {
    .form-register__group-title {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 30px; }
      .form-register__group-title::before, .form-register__group-title::after {
        content: "";
        height: 1px;
        flex-grow: 1;
        background-color: #e5ddd5; }
      .form-register__group-title::before {
        margin-right: 50px; }
      .form-register__group-title::after {
        margin-left: 50px; } }

.form-register__required-mark {
  color: #dc3545;
  font-size: 40px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  line-height: 40px; }

.form-register__group-beard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px; }
  @media (min-width: 768px) {
    .form-register__group-beard {
      display: flex;
      justify-content: space-between;
      margin-top: 50px; } }

.form-register__radio {
  margin-bottom: 150px;
  text-align: center;
  position: relative;
  line-height: 50px;
  cursor: pointer; }
  .form-register__radio::after {
    content: "";
    width: 50px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .form-register__radio--admiral::after {
    width: 52px;
    height: 49px;
    background-image: url("../img/admiral-beard.svg");
    bottom: -60px; }
  .form-register__radio--lumberjack::after {
    width: 58px;
    height: 68px;
    background-image: url("../img/lumberjack.svg");
    bottom: calc(49px - 68px + -60px); }
  .form-register__radio--polar::after {
    width: 63px;
    height: 78px;
    background-image: url("../img/polar.svg");
    bottom: calc(49px - 78px + -60px); }
  .form-register__radio--boyar::after {
    width: 57px;
    height: 97px;
    background-image: url("../img/boyar.svg");
    bottom: calc(49px - 97px + -60px); }
  .form-register__radio--sage::after {
    width: 45px;
    height: 104px;
    background-image: url("../img/sage.svg");
    bottom: calc(49px - 104px + -60px); }
  @media (min-width: 768px) {
    .form-register__radio {
      font-size: 24px; } }

.form-register__radio input {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block; }

.form-register__group-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px; }

.form-register__checkbox {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .form-register__checkbox:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .form-register__checkbox {
      width: 300px;
      margin-bottom: 50px; }
      .form-register__checkbox:nth-last-child(1), .form-register__checkbox:nth-last-child(2) {
        margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .form-register__checkbox:nth-last-child(1), .form-register__checkbox:nth-last-child(2), .form-register__checkbox:nth-last-child(3) {
      margin-bottom: 0; } }

.form-register__checkbox input {
  margin-right: 20px;
  width: 35px;
  height: 35px; }

.form-register__submit {
  background-color: #826550;
  color: #fff;
  width: 100%;
  margin-top: 45px; }
  .form-register__submit[disabled] {
    background-color: #aeaeae; }
  @media (min-width: 768px) {
    .form-register__submit {
      font-size: 24px;
      margin-top: 60px; } }
  @media (min-width: 1200px) {
    .form-register__submit {
      margin-top: 80px; } }

.portfolio {
  background-color: #f8f5f2;
  padding-top: 30px;
  padding-bottom: 70px; }
  @media (min-width: 768px) {
    .portfolio {
      background-image: url("../img/angle-dark.svg");
      padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    .portfolio {
      background-image: none; } }

@media (min-width: 768px) {
  .portfolio__header-row {
    display: flex;
    justify-content: space-between; } }

.portfolio__title {
  margin: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .portfolio__title {
      font-size: 40px;
      text-align: left; } }

.portfolio__to-main {
  display: none; }
  @media (min-width: 768px) {
    .portfolio__to-main {
      display: block; } }

.portfolio__work {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #e5ddd5; }
  .portfolio__work:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .portfolio__work {
      flex-direction: row;
      width: 640px;
      margin-bottom: 40px; } }
  @media (min-width: 1200px) {
    .portfolio__work {
      width: 295px;
      flex-direction: column;
      margin: 0; } }

.portfolio__best-work {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .portfolio__best-work {
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    .portfolio__best-work {
      width: 960px;
      flex-direction: row;
      margin-top: 85px; } }

.portfolio__client-image {
  flex-shrink: 0;
  font-size: 0; }

.portfolio__info {
  display: flex;
  flex-direction: column;
  padding: 25px; }
  @media (min-width: 768px) {
    .portfolio__info {
      padding: 45px;
      width: 100%; } }
  @media (min-width: 1200px) {
    .portfolio__info {
      padding: 30px;
      flex-grow: 1; } }

@media (min-width: 1200px) {
  .portfolio__best-work .portfolio__info {
    padding: 120px 40px 40px; } }

@media (min-width: 1200px) {
  .portfolio__best-work .portfolio__client-review {
    padding-right: 100px; } }

.portfolio__client-name {
  font-size: 24px;
  font-weight: bold; }

.portfolio__client-review {
  margin-top: 25px;
  line-height: 27px; }

.portfolio__services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  @media (min-width: 768px) {
    .portfolio__services-list {
      margin-top: auto; } }

.portfolio__services-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-right: 25px;
  margin-top: 25px; }
  .portfolio__services-item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat; }
  .portfolio__services-item--haircut::before {
    background-image: url("../img/admiral-beard.svg"); }
  .portfolio__services-item--shaving::before {
    background-image: url("../img/scissors.svg"); }
  .portfolio__services-item--mustache {
    padding-left: 50px; }
    .portfolio__services-item--mustache::before {
      background-image: url("../img/mustache.svg");
      width: 35px;
      height: 35px; }

@media (min-width: 1200px) {
  .portfolio__works-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; } }

.price-list {
  background-color: #353535;
  padding-top: 35px; }
  @media (min-width: 1200px) {
    .price-list {
      padding-top: 70px;
      padding-bottom: 80px; } }

.price-list__title {
  font-size: 40px;
  text-align: center;
  color: #ffffff; }
  @media (min-width: 768px) {
    .price-list__title {
      text-align: left; } }

.price-list__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px; }
  @media (min-width: 1200px) {
    .price-list__wrapper {
      flex-direction: row;
      justify-content: space-between; } }

.price-list__table {
  border-collapse: collapse;
  width: 100%; }
  @media (min-width: 768px) {
    .price-list__table {
      margin-right: 60px; } }

@media (min-width: 1200px) {
  .price-list__table tr {
    width: 100%; } }

.price-list__table td {
  padding: 10px 0;
  font-size: 20px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .price-list__table td {
      padding: 20px;
      vertical-align: middle;
      border: 1px solid #4a4a4a; } }
  @media (min-width: 1200px) {
    .price-list__table td {
      padding: 15px; } }
  .price-list__table td:nth-child(1), .price-list__table td:nth-child(3) {
    display: none; }
    @media (min-width: 768px) {
      .price-list__table td:nth-child(1), .price-list__table td:nth-child(3) {
        display: table-cell; } }
  .price-list__table td:nth-child(3) {
    color: #aba9a7; }
  .price-list__table td:nth-child(4) {
    vertical-align: top;
    text-align: right;
    color: #aba9a7; }
    @media (min-width: 768px) {
      .price-list__table td:nth-child(4) {
        vertical-align: middle;
        text-align: left; } }

@media (min-width: 768px) {
  td.price-list__number-row {
    text-align: center;
    color: #4a4a4a; } }

.price-list__type-cut {
  font-weight: bold; }

.price-list__type-cut span {
  font-weight: normal;
  color: #aba9a7; }
  @media (min-width: 768px) {
    .price-list__type-cut span {
      display: none; } }

.price-list__time {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border: 1px solid #4a4a4a;
  padding: 20px;
  margin-top: 25px; }
  @media (min-width: 768px) {
    .price-list__time {
      margin-top: 10px; } }
  @media (min-width: 1200px) {
    .price-list__time {
      padding: 35px 65px;
      margin-top: 0;
      display: flex;
      flex-direction: column; } }

.price-list__watch {
  width: 58px;
  height: 57px; }
  @media (min-width: 768px) {
    .price-list__watch {
      width: 72px;
      height: 71px; } }
  @media (min-width: 1200px) {
    .price-list__watch {
      width: 142px;
      height: 139px; } }

.price-list__text {
  font-size: 20px;
  color: #ffffff;
  margin-left: 35px;
  line-height: 27px; }
  @media (min-width: 768px) {
    .price-list__text {
      font-size: 30px;
      margin-left: 90px;
      font-weight: bold; } }
  @media (min-width: 1200px) {
    .price-list__text {
      margin: 0;
      text-align: center;
      font-size: 20px;
      font-weight: normal;
      margin-top: 30px; } }

@media (min-width: 768px) {
  .price-list__text br {
    display: none; } }

@media (min-width: 1200px) {
  .price-list__text br {
    display: block; } }

.login-popup {
  display: none;
  position: fixed;
  top: 10%;
  background-color: #f8f5f2;
  width: 100%;
  padding: 30px 20px;
  z-index: 2;
  box-shadow: 0 40px 50px 20px rgba(0, 0, 0, 0.6); }
  @media (min-width: 768px) {
    .login-popup {
      width: 460px;
      left: 50%;
      transform: translateX(-50%);
      padding: 50px 70px; } }
  @media (min-width: 1200px) {
    .login-popup {
      padding: 60px 70px; } }
  .login-popup--opened {
    display: block; }

.login-popup__title {
  font-size: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .login-popup__title {
      font-size: 40px; } }

.login-popup__subtitle {
  text-align: center;
  margin-top: 20px; }

.login-popup__form {
  margin-top: 30px; }

.login-popup__login, .login-popup__password {
  padding: 15px;
  padding-right: 50px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: 1px solid #e5ddd5; }
  @media (min-width: 768px) {
    .login-popup__login, .login-popup__password {
      padding: 25px;
      padding-bottom: 20px;
      padding-right: 50px; } }

.login-popup__label {
  font-size: 0;
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  margin-top: 10px; }
  .login-popup__label::after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    right: 20px;
    background-size: contain; }
  .login-popup__label--login::after {
    background-image: url("../img/user.svg"); }
  .login-popup__label--password::after {
    background-image: url("../img/lock.svg"); }

.login-popup__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.login-popup__remember {
  display: flex;
  align-items: center; }

.login-popup__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 15px; }

.login-popup__foggot {
  color: #000000; }

.login-popup__submit {
  margin-top: 30px;
  background-color: #826550;
  color: #ffffff;
  width: 100%; }

.login-popup__close {
  margin-top: 20px;
  width: 100%;
  background-color: transparent; }
  @media (min-width: 768px) {
    .login-popup__close {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: none;
      background-color: transparent;
      font-size: 0;
      margin-top: 0; }
      .login-popup__close::before, .login-popup__close::after {
        content: "";
        width: 25px;
        height: 2px;
        background-color: #242424;
        position: absolute; }
      .login-popup__close::before {
        transform: rotate(45deg); }
      .login-popup__close::after {
        transform: rotate(-45deg); }
      .login-popup__close:hover {
        cursor: pointer; } }

.store {
  background-color: #f8f5f2;
  padding-top: 30px;
  padding-bottom: 70px; }

.store__grid {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 50px; }

.store__title {
  font-size: 32px; }

.store__top-wrapper {
  display: block; }
  @media (min-width: 768px) {
    .store__top-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

.store__filter-btn {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  width: 100%; }
  @media (min-width: 768px) {
    .store__filter-btn {
      margin-top: 0;
      width: 200px; } }
  @media (min-width: 1200px) {
    .store__filter-btn {
      display: none; } }

.store__breadcrumbs {
  margin-top: 15px; }

.breadcrumbs__list {
  list-style: none;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  flex-wrap: wrap; }

.breadcrumbs__item {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  line-height: 2; }
  .breadcrumbs__item:first-child {
    margin-left: 0; }
  .breadcrumbs__item:nth-child(n+2) {
    position: relative; }
    .breadcrumbs__item:nth-child(n+2)::before {
      content: "";
      width: 7px;
      height: 7px;
      transform: rotate(45deg);
      display: block;
      position: absolute;
      background: #000000;
      left: -23px; }
  .breadcrumbs__item:last-child {
    margin-right: 0; }

.breadcrumbs__link[href] {
  text-decoration: none;
  color: #000000; }
  .breadcrumbs__link[href]:hover {
    color: #826550; }

.breadcrumbs__link:not([href]) {
  color: #aba9a7; }

.filter {
  display: none; }
  @media (min-width: 1200px) {
    .filter {
      width: 200px;
      display: block; } }
  .filter--opened {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    background-color: #f8f5f2; }
    @media (min-width: 768px) {
      .filter--opened {
        position: fixed;
        width: 400px;
        height: 100%;
        box-shadow: 0 0 0 1000px rgba(34, 34, 34, 0.7); } }

.filter__control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .filter__control-wrapper {
      display: none; } }

.filter__reset {
  border: none;
  background-color: transparent;
  font-size: 18px; }

.filter__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative; }
  .filter__close::before, .filter__close::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    display: block;
    background-color: #222;
    left: 50%; }
  .filter__close::before {
    transform: translateX(-50%) rotate(45deg); }
  .filter__close::after {
    transform: translateX(-50%) rotate(-45deg); }

.filter__widget {
  border: none;
  margin-bottom: 50px; }
  .filter__widget--closed {
    margin-bottom: 0; }

.filter__widget label {
  cursor: pointer; }

.filter__widget--closed .filter__legend::after {
  transform: rotate(90deg); }

.filter__widget--closed .filter__widget-wrapper {
  display: none; }

.filter__legend {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer; }
  .filter__legend::after {
    content: ">";
    position: absolute;
    right: 0; }

.filter__submit {
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  width: 100%; }

.price-buy {
  display: flex; }

.price-buy__price {
  background-color: #e5e5e5;
  text-align: center;
  width: 50%;
  flex-shrink: 0;
  font-weight: bold;
  line-height: 48px;
  font-size: 24px; }

.price-buy__btn {
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  width: 50%; }

.products {
  width: 100%; }
  @media (min-width: 1200px) {
    .products {
      width: 700px; } }

.products__list {
  list-style: none;
  display: block; }
  @media (min-width: 768px) {
    .products__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px; } }
  @media (min-width: 1200px) {
    .products__list {
      grid-template-columns: 1fr 1fr 1fr; } }

.products__item {
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  min-width: 240px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column; }
  .products__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .products__item {
      margin-bottom: 0;
      width: 100%;
      max-width: none; } }
  @media (min-width: 1200px) {
    .products__item {
      width: 220px; } }

.products__link {
  text-decoration: none;
  color: #000000; }

.products__img {
  width: 100%; }

.products__info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; }

.products__price {
  font-size: 20px; }

.products__title {
  font-size: 18px; }

.products__pagination {
  margin-top: 30px; }

.products__price-buy {
  margin-top: 15px; }

@media (max-width: 1199px) {
  .products__page-list {
    justify-content: center; } }

.check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 20px; }
  .check:last-child {
    margin-bottom: 0; }

.check__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.check__box {
  position: absolute;
  display: block;
  border: 2px solid #000000;
  width: 20px;
  height: 20px;
  left: 0; }

.check__input:checked + .check__box {
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center; }

.check__input:focus + .check__box {
  outline: auto;
  outline-offset: 2px; }

.check__input:disabled + .check__box {
  border: 2px solid #aeaeae; }

.check__input:disabled:checked + .check__box {
  background-image: url("../img/cross-disabled.svg");
  background-repeat: no-repeat;
  background-position: center; }

.radio {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 20px; }
  .radio:last-child {
    margin-bottom: 0; }

.radio__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.radio__box {
  position: absolute;
  display: block;
  border: 2px solid #000000;
  width: 20px;
  height: 20px;
  left: 0;
  border-radius: 50%; }

.radio__input:checked + .radio__box {
  width: 18px;
  height: 18px;
  background-color: #000000;
  border: 5px solid #f8f5f2;
  box-shadow: 0 0 0 2px #000000; }

@media (min-width: 1200px) {
  .radio__input:focus + .radio__box {
    outline: auto;
    outline-offset: 2px; } }

.radio__input:disabled + .radio__box {
  border: 2px solid #aeaeae; }

.radio__input:disabled:checked + .radio__box {
  width: 18px;
  height: 18px;
  background-color: #aeaeae;
  border: 5px solid #f8f5f2;
  box-shadow: 0 0 0 2px #aeaeae; }

.pagination__list {
  display: flex;
  list-style: none; }

.pagination__item {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; }
  .pagination__item:last-child {
    margin-right: 0; }
  .pagination__item--current {
    background-color: #ffffff; }
  .pagination__item--current .pagination__link {
    color: #000000; }

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  text-decoration: none;
  color: #ffffff; }

.product-page {
  background-color: #f8f5f2;
  padding-top: 30px;
  padding-bottom: 70px; }

.product-page__breadcrumbs {
  margin-top: 15px; }

.product-page__outer-wrapper {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    .product-page__outer-wrapper {
      display: flex; } }

@media (min-width: 1200px) {
  .product-page__gallery {
    width: 460px;
    flex-shrink: 0; } }

.product-page__main-img {
  width: 100%;
  border: 1px solid #e5ddd5; }

.product-page__preview-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .product-page__preview-list {
      justify-content: space-between; } }

.product-page__preview-item {
  border: 1px solid #e5ddd5;
  width: 100px;
  margin-right: 10px; }
  .product-page__preview-item:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    .product-page__preview-item {
      width: auto;
      margin-right: 0; } }

.product-page__preview-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%; }
  @media (min-width: 768px) {
    .product-page__preview-img {
      width: 195px; } }
  @media (min-width: 1200px) {
    .product-page__preview-img {
      width: 140px; } }

.product-page__info {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    .product-page__info {
      margin-top: 0;
      margin-left: 90px;
      width: 50%; } }

.product-page__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.product-page__availability {
  font-weight: bold; }

.product-page__vendor-code {
  color: #aeaeae; }

.product-page__description {
  margin-top: 30px;
  line-height: 1.5; }

.product-page__price-buy {
  margin-top: 35px; }

.product-page__includes-title {
  margin-top: 60px; }

.product-page__includes-list {
  list-style: none;
  margin-top: 20px; }

.product-page__includes-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center; }
  .product-page__includes-item:last-child {
    margin-bottom: 0; }
  .product-page__includes-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #000000;
    transform: rotate(45deg);
    left: 0; }

.price-page {
  background-color: #f8f5f2;
  padding-top: 30px;
  padding-bottom: 70px; }

.price-page__title {
  font-size: 30px; }

.price-page__breadcrumbs {
  margin-top: 15px; }

.price-page__subtitle {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-align: center;
  margin-top: 40px; }
  .price-page__subtitle::before, .price-page__subtitle::after {
    content: "";
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    height: 2px;
    background-color: #000000; }
  .price-page__subtitle::before {
    margin-right: 10px; }
  .price-page__subtitle::after {
    margin-left: 10px; }
  @media (min-width: 768px) {
    .price-page__subtitle {
      font-size: 40px; }
      .price-page__subtitle::before {
        margin-right: 25px; }
      .price-page__subtitle::after {
        margin-left: 25px; } }

.price-page__row-wrapper {
  margin-top: 63px; }
  @media (min-width: 768px) {
    .price-page__row-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; } }

@media (min-width: 768px) {
  .price-page__inner-wrapper {
    width: 50%; } }

@media (min-width: 1200px) {
  .price-page__inner-wrapper {
    width: 45%; } }

.price-page__heading {
  font-size: 24px;
  margin-top: 63px; }
  @media (min-width: 768px) {
    .price-page__heading {
      margin-top: 0;
      width: 100%;
      flex-shrink: 0;
      flex-grow: 1; } }

.price-page__heading br {
  display: none; }
  @media (min-width: 768px) {
    .price-page__heading br {
      display: block; } }

.price-page__products-list {
  list-style-type: square;
  margin-top: 35px; }

.price-page__products-item {
  margin-left: 20px;
  margin-bottom: 15px; }
  .price-page__products-item:last-child {
    margin-bottom: 0; }

.price-page__table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 35px; }

.price-page__table td {
  border: 2px solid #000000;
  width: 50%;
  padding: 10px 20px; }
  .price-page__table td:last-child {
    text-align: center; }

.price-page__description {
  margin-top: 20px; }
  @media (min-width: 1200px) {
    .price-page__description {
      width: 45%; } }

/*# sourceMappingURL=style.css.map */
