.light {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
}
.reg {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 400;
}
.bold {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
section#header-top {
  background-color: #000000;
  height: 50px;
}
a:hover,
a:target,
a:focus,
a:visited {
  text-decoration: none;
}
form {
  position: relative;
  width: 210px;
  margin-top: 0.5em;
  background: #000000;
  border: 2px solid #3e454a;
}
input,
button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  color: #ffffff;
}
input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header-top-row button {
  height: 30px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header-top-row button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 14px;
  color: #85939f;
}
.login ul {
  float: right;
  margin-top: 1em;
  list-style: none;
}
.login ul li {
  display: inline-block;
  margin: 0 2em;
}
.login ul li:last-child {
  margin-right: 0;
}
.login ul li a {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #85939f;
}
.login ul li a:hover {
  color: #bec6cc;
}
section#header-bot {
  background-color: #474747;
}
.header-logo {
  display: inline-block;
  margin-top: 10px;
}
.header-nav ul {
  list-style: none;
  font-size: 0;
  margin-bottom: 0;
}
.header-nav ul li {
  text-align: center;
  height: 75px;
  display: inline-block;
}
.header-nav ul li:before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: 10px;
  width: 100px;
  background-color: #ffae00;
}
.header-nav ul li a {
  display: block;
  line-height: 65px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  transition: background-color 0.3s ease;
}
.header-nav ul li a:hover {
  transition: all 0.3s ease;
  background-color: #000000;
}
.header-nav ul .orange:before {
  background-color: #fc7100;
}
.header-nav ul .pink:before {
  background-color: #e51c5e;
}
.header-nav ul .purple:before {
  background-color: #ae0f8d;
}
.header-nav ul .violent:before {
  background-color: #6d0fae;
}
.header-nav ul .blue:before {
  background-color: #33227a;
}
.header-nav ul .light-blue:before {
  background-color: #0c8fcc;
}
section#main {
  background-color: #000;
  height: 100vh;
}
section#main img {
  height: 100vh;
}
section#main h1 {
  color: #ffffff;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-top: 15%;
  text-align: center;
  z-index: 1;
  text-shadow: 1px 1px 2px black;
}
section#main h1 span {
  color: #02baab;
}
section#main .main-btn {
  margin: 5% 1% 7% 1%;
  padding: 5px 30px;
  color: #02baab;
  border: 3px solid #02baab;
  transition: all 0.3s ease;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 700;
}
section#main .main-btn:hover {
  background-color: #02baab;
  color: #ffffff;
  transition: all 0.3s ease;
}
section#main .slick-active,
section#main .slick-slide {
  outline: none;
}
section#main .slick-dots li button:before {
  width: 21px;
  height: 4px;
  color: transparent;
  background-color: #aaa;
  opacity: 1;
}
section#main .slick-dots li button:hover:before {
  background-color: #03ecd9;
  opacity: 0.5;
}
section#main .slick-dots li.slick-active button:before {
  color: transparent;
  background-color: #02baab;
  opacity: 1;
}
section#main .slick-dots {
  position: relative;
  bottom: 5em;
}
section#main .main-slider.slick-initialized.slick-slider.slick-dotted {
  height: 100vh;
  margin: 0;
}
.main-slider .screen {
  text-align: center;
  height: 100vh;
}
.main-slider .screen-1 {
  background: url(../img/slider-1.jpg) no-repeat center center;
}
.main-slider .screen-2 {
  background: url(../img/slider-2.jpg) no-repeat center center;
}
.main-slider .screen-3 {
  background: url(../img/slider-3.jpg) no-repeat center center;
}
.rectangle {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #eeeeee;
}
.month-row {
  text-align: center;
}
.month-row h3 {
  padding-top: 5%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #3b4954;
}
.month-row p {
  margin-top: 3%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #3b4954;
}
.month-row button {
  margin: 3% 0 7% 0;
  padding: 5px 30px;
  color: #02baab;
  border: 3px solid #02baab;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}
.month-row button:hover {
  background-color: #02baab;
  color: #ffffff;
  transition: all 0.3s ease;
}
section#works {
  background-color: #474747;
}
section#works .slick-active,
section#works .slick-slide {
  outline: none;
}
.works-place {
  text-align: center;
}
.works-text h3 {
  padding-top: 5%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #ffffff;
}
.works-text p {
  margin-top: 3%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}
.works-slider-arrows {
  position: absolute;
  top: 90%;
  color: #ffffff;
}
.works-slider-item {
  position: relative;
  display: inline-block;
  height: 290px;
  width: 290px;
  margin: 10% 0 20% 0;
}
.works-slider-item-info {
  position: absolute;
  margin-top: -70px;
  height: 70px;
  width: 290px;
  background-color: #3d3d3d;
  text-align: left;
}
.arrow-right {
  right: 47%;
}
.arrow-left {
  left: 47%;
  z-index: 2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  transition: all 0.5s ease;
  opacity: 0;
}
.overlay:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.overlay img {
  display: block;
  margin: 3% 0;
}
.name {
  display: inline-block;
  padding: 5% 0 0 5%;
}
.name p {
  margin: 0;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
}
.name .professia {
  display: inline-block;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #02baab;
}
.likes {
  padding: 6% 5% 0 0;
  text-align: center;
  float: right;
}
.likes .fa-heart {
  display: block;
  color: #ffffff;
}
.likes .number {
  line-height: 28px;
  display: inline-block;
  color: #02baab;
  font-size: 11px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
}
section#purchase {
  background-color: #02baab;
}
.purchase-row {
  text-align: center;
  padding-top: 5%;
}
.purchase-row p {
  display: inline-block;
  color: #ffffff;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.purchase-row button {
  margin: 0 0 3% 5%;
  padding: 5px 15px;
  color: #ffffff;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}
.purchase-row button:hover {
  background-color: #ffffff;
  color: #02baab;
  transition: all 0.3s ease;
}
.purchase-row button span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
}
.futures-text h3 {
  padding-top: 5%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #3b4954;
}
.futures-row {
  margin-bottom: 10%;
}
.futures-row p {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #3b4954;
}
.futures-row img {
  margin-top: 5%;
}
.futures-row .col-xs-12 {
  margin-top: 5%;
}
section#quots {
  background-color: #666666;
}
section#quots .slick-dots {
  bottom: 20px;
}
section#quots .slick-dots li button:before {
  color: #ffffff;
  opacity: 1;
}
section#quots .slick-dots li.slick-active button:before {
  color: #02baab;
}
section#quots .slick-active,
section#quots .slick-slide {
  outline: none;
}
.quots-slider {
  padding: 10%  0 5% 0;
}
.quots-slider-item p {
  color: #ffffff;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.quots-slider-item p span {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #02baab;
}
.blog-text {
  text-align: center;
}
.blog-text h3 {
  padding-top: 5%;
  font-size: 36px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  color: #3b4954;
}
.blog-item {
  position: relative;
}
.blog-item:before {
  width: 85%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  content: '';
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
}
.blog-row {
  margin: 10% 0;
}
.blog-row .headline {
  color: #02baab;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  display: block;
}
.blog-row p {
  margin-top: 7%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
.blog-row a {
  color: #02baab;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
}
.blog-row a:visited {
  color: purple;
}
.blog-row .comments {
  display: inline-block;
}
.blog-row .comments span {
  color: #02baab;
  margin: 0 10px 0 12em;
}
section#expirience {
  height: 100vh;
  background-color: #02baab;
}
section#expirience .circle {
  display: inline-block;
  margin-top: 20%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
section#expirience .circle img {
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.expirience-row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expirience-text {
  padding-top: 7%;
  color: #ffffff;
  text-align: center;
}
.expirience-text h3 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
}
.expirience-block {
  margin-top: 2%;
  display: inline-block;
  color: #ffffff;
  width: 210px;
}
.expirience-block h4 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
}
.expirience-block p {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.expirience-dots {
  margin: 0 4%;
  position: relative;
  top: -60px;
  display: inline-block;
  font-size: 100px;
  color: #ffffff;
}
.expirience-dots .dot {
  margin: 0 -5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.team-text {
  text-align: center;
  padding-top: 7%;
}
.team-text h3 {
  color: #3b4954;
  font-size: 46px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
}
.team-row {
  padding: 10% 0;
}
.team-block {
  position: relative;
}
.team-block .profile {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.team-block .profile button {
  display: inline-block;
  padding: 7px 45px;
  color: #ffffff;
  background-color: #02baab;
  border: 3px solid #02baab;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}
.team-block .profile button:hover,
.team-block .profile button:active {
  background-color: #ffffff;
  color: #02baab;
  transition: all 0.3s ease;
}
.team-block .profile-hidden {
  text-align: center;
  padding: 40px 30px;
  max-height: 200px;
  position: absolute;
  top: 40%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  width: 100%;
}
.team-block .profile-hidden .team-quot {
  padding-top: 15%;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #3b4954;
}
.team-block .profile-hidden-name {
  width: 170px;
  position: absolute;
  top: -20%;
  left: 50%;
  margin-left: -85px;
  padding: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.team-block .profile-hidden-name h5 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #02baab;
}
.team-block .profile-hidden-name p {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #bbb;
}
footer {
  background-color: #1f2a32;
  color: #ffffff;
}
.footer-color-1 {
  height: 15px;
  background-color: #7827a9;
}
.footer-color-2 {
  height: 15px;
  background-color: #0c8fcc;
}
.footer-color-3 {
  height: 15px;
  background-color: #de1c5c;
}
.footer-color-4 {
  height: 15px;
  background-color: #ffae00;
}
.footer-row {
  margin-top: 5%;
}
.footer-row .get h4 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.footer-row .get p {
  margin-top: 15%;
  color: #85939f;
  line-height: 30px;
}
.footer-row .get p a {
  color: #85939f;
  text-decoration: none;
}
.footer-row .get p b {
  color: #ffffff;
}
.footer-row .get p .fa {
  margin-right: 5px;
  color: #02baab;
}
.yandex-map {
  margin-top: 10%;
}
.twit h4 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.twit .tweet {
  margin-top: 17%;
}
.twit .tweet p {
  line-height: 25px;
}
.twit .tweet p .fa-twitter {
  color: #02baab;
  position: relative;
  margin-left: -20px;
  margin-right: 10px;
}
.twit .tweet p .link {
  color: #02baab;
}
.twit .tweet p .time {
  color: #85939f;
}
.social h4 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.social .social-item.fb {
  margin-top: 18%;
}
.social .social-item {
  margin-top: 10%;
}
.social .social-item a {
  display: inline-block;
}
.social .social-item p {
  display: inline-block;
  margin-left: 5%;
}
.posts h4 {
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.posts p {
  margin-top: 17%;
  line-height: 30px;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.posts p span {
  color: #02baab;
}
.footer-bot {
  margin-top: 5%;
  text-align: right;
}
.footer-bot p {
  text-align: left;
  font-family: "Oxygen", arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}
.footer-bot a {
  display: inline-block;
  padding: 10px 50px 10px 30px;
  border: 2px solid #02baab;
  color: #ffffff;
  position: relative;
}
.footer-bot a:hover {
  color: #02baab;
  padding: 10px 55px 10px 30px;
}
.footer-bot a span {
  color: #02baab;
  font-size: 30px;
  position: absolute;
  top: 5%;
  right: 15px;
}
@media (max-width: 480px) {
  section#header-top .header-top-row {
    text-align: center;
  }
  section#header-top .header-top-row form {
    display: inline-block;
  }
  section#header-top .login {
    text-align: center;
  }
  section#header-top .login ul {
    float: none;
    padding: 0;
  }
  section#header-top .login ul li {
    display: inline-block;
    font-size: 17px;
  }
  section#header-bot .header-bot-row {
    text-align: center;
  }
  section#header-bot .header-logo {
    margin-bottom: 10%;
    display: inline-block;
  }
  section#header-bot li {
    display: none;
  }
  section#main .main-slider h1 {
    margin-top: 20%;
    font-size: 50px;
  }
  section#main .main-slider .features {
    margin-top: 20%;
  }
  section#main .main-slider button {
    margin-top: 1%;
  }
  section#month .month-row h3 {
    padding-top: 15%;
  }
  section#month .month-row p {
    margin-top: 10%;
  }
  section#month .month-row button {
    margin: 15% 0;
  }
  section#works .arrow-right {
    right: 20%;
  }
  section#works .arrow-left {
    left: 20%;
    z-index: 2;
  }
  section#works .works-text {
    padding-top: 10%;
  }
  section#works .works-text p {
    padding-top: 10%;
  }
  section#purchase .purchase-row p {
    margin-top: 15%;
    font-size: 20px;
  }
  section#purchase .purchase-row button {
    margin: 10% 0;
  }
  section#futures .futures-text {
    margin-top: 10%;
  }
  section#futures .futures-row {
    text-align: center;
  }
  section#futures .futures-row h4 {
    margin-top: 7%;
    font-size: 20px;
  }
  section#futures .futures-row p {
    margin-top: 7%;
  }
  section#futures .futures-row img {
    margin-top: 20%;
  }
  section#quots .slick-dots {
    bottom: 0;
  }
  section#quots .quots-slider-item {
    padding: 2% 0;
  }
  section#quots .quots-slider-item p {
    font-size: 20px;
  }
  section#quots .quots-slider-item p span {
    font-size: 12px;
  }
  section#blog .blog-item {
    margin-top: 15%;
    text-align: center;
  }
  section#blog .blog-item .comments {
    display: inline-block;
  }
  section#blog .blog-item .comments span {
    color: #02baab;
    margin: 0 10px 0 10em;
  }
  section#blog .blog-item p {
    font-size: 12px;
  }
  section#expirience {
    height: 290vh;
  }
  section#expirience .expirience-dots {
    top: 10px;
    left: 10%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  section#expirience .expirience-row {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#team .profile-hidden {
    padding: 40px 30px;
    max-height: 170px;
  }
  section#team .profile-hidden .team-quot {
    padding-top: 15%;
    font-family: "Oxygen", arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3b4954;
  }
  section#team .team-text h3 {
    padding-top: 10%;
  }
  section#team .team-block {
    margin-top: 20%;
  }
}
