$bgblue: #080325;
$bgviolet: #201b3a;
$pink: #d92b4c;
$blue: #211d3b;
$light-blue: #5A6CA1;

*,*::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bgviolet;
    font-family: 'Rubic', sans-serif;
    font-size: 16px;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.empty {
    height: 400vh;
}

main {
    background-color: $bgblue;
}

.container-outer {
    width: 75%;
    margin: 0 auto;
}

.container-inner {
    padding: 0 150px;
}

.button {
    display: block;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all .1s;
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.banner, .banner-index, .banner-blog {
    position: relative;
    height: 450px;
}
.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    // background: url("../../app/img/the_elder_scrolls_skyrim_skajrim_art_drakon_daedricheskaya_bronya_srazhenie_ogon_96137_1920x1200.jpg") center center;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.banner__info {
    position: absolute;
    top: 150px;
    font-size: 28px;
    text-shadow: 0 1px 2px #222;
}

@import "./components/index";
@import "./components/header";
@import "./components/contacts";
@import "./components/footer";
@import "./components/blog";