@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.page__body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 200%; }

img {
  max-width: 100%; }

.container {
  width: 100%; }
  @media (max-width: 1319px) {
    .container {
      padding: 0 20px; } }
  @media (min-width: 900px) {
    .container {
      margin: 0 auto;
      max-width: 1280px; } }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

button, input, textarea, ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

button {
  cursor: pointer; }

.header {
  padding: 20px 0; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 420px) {
    .header__wrapper {
      display: grid;
      justify-content: center; } }

.header__logo {
  color: #005096;
  font-size: 38px;
  display: grid; }

.header__postscript {
  text-align: center;
  color: #606060;
  font-size: 14px; }

@media (max-width: 420px) {
  .header__phone {
    margin-top: 20px; } }

.header__tel {
  text-decoration: none;
  font-size: 22px;
  color: #000000; }

.footer {
  margin-top: 37px;
  background-color: #f4f4f4;
  text-align: center;
  padding: 30px 0;
  color: #969696; }

.main {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), url("../img/main-bg.jpg");
  background-position: center;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), url("../img/main-bg@2x.jpg");
      background-size: cover;
      background-position: center; } }

.main__outer-wrapper {
  color: #ffffff;
  padding: 80px 20px; }
  @media (max-width: 767px) {
    .main__outer-wrapper {
      max-width: 388px; } }
  @media (min-width: 768px) {
    .main__outer-wrapper {
      padding-top: 200px;
      padding-bottom: 200px; } }

.main__title {
  font-size: 24px;
  font-weight: bold; }
  @media (min-width: 768px) {
    .main__title {
      font-size: 42px;
      line-height: 150%;
      width: 615px; } }

.main__description {
  font-size: 18px;
  margin-top: 20px; }

.main__action-btn {
  display: block;
  text-align: center;
  padding: 15px 0;
  background-color: #ff9900;
  color: #ffffff;
  width: 100%;
  margin-top: 40px;
  border-radius: 5px;
  text-decoration: none; }
  .main__action-btn:hover {
    background-color: #ffad33; }
  @media (min-width: 768px) {
    .main__action-btn {
      width: 210px; } }

.section-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 150%; }

.types {
  margin-top: 75px; }

.types__list {
  list-style: none;
  display: grid;
  gap: 37px;
  margin-top: 37px; }
  @media (min-width: 768px) {
    .types__list {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1200px) {
    .types__list {
      grid-template-columns: 1fr 1fr 1fr; } }

.types__item {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content min-content min-content 1fr min-content; }

.types__img {
  width: 100%;
  height: 241px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px; }

.types__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px; }

.types__description {
  color: #969696; }

.types__btn {
  display: inline-block;
  text-decoration: none;
  color: #005096; }
  .types__btn:hover {
    color: #0086fc; }

.banner {
  background-image: url("../img/maxresdefault.jpg");
  background-size: cover; }
  @media (max-width: 768px) {
    .banner {
      height: 400px; } }
  @media (min-width: 1200px) {
    .banner {
      grid-area: 3 / 2 / 4 / 4; } }

.steps {
  margin-top: 75px; }

.steps__list {
  margin-top: 37px;
  list-style: none;
  display: grid;
  row-gap: 37px; }
  @media (min-width: 1200px) {
    .steps__list {
      grid-template-columns: 1fr 1fr 1fr;
      -moz-column-gap: 37px;
           column-gap: 37px; } }

.steps__item {
  position: relative; }
  .steps__item::before {
    font-size: 100px;
    display: block;
    position: absolute;
    color: #f4f4f4;
    top: 135px;
    line-height: 1; }
  @media (max-width: 767px) {
    .steps__item::before {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .steps__item {
      display: grid;
      grid-template-areas: "img title" "img description";
      grid-template-columns: 300px 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
      -moz-column-gap: 37px;
           column-gap: 37px; }
      .steps__item::before {
        top: 95px;
        left: 260px;
        width: 57px;
        text-align: right; } }
  @media (min-width: 1200px) {
    .steps__item {
      display: grid;
      grid-template-areas: "img" "title" "description";
      grid-template-rows: 222px -webkit-min-content -webkit-min-content;
      grid-template-rows: 222px min-content min-content; } }
  .steps__item--first::before {
    content: "1"; }
  .steps__item--second::before {
    content: "2"; }
  .steps__item--third::before {
    content: "3"; }

.steps__img {
  display: block;
  margin: 0 auto;
  grid-area: img; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .steps__img {
      height: 180px; } }
  @media (min-width: 1200px) {
    .steps__img {
      height: 100%; } }

.steps__title {
  font-size: 16px;
  grid-area: title;
  margin-top: 8px; }

.steps__description {
  color: #969696;
  grid-area: description; }

.advantages {
  margin-top: 75px; }

.advantages__list {
  margin-top: 37px;
  list-style: none;
  display: grid;
  gap: 37px; }
  @media (min-width: 600px) {
    .advantages__list {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1140px) {
    .advantages__list {
      grid-template-columns: repeat(4, 1fr); } }

.advantages__item {
  padding-top: 70px;
  position: relative; }
  @media (min-width: 1200px) {
    .advantages__item {
      width: 263px; } }
  .advantages__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 63px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain; }
  .advantages__item--clients::before {
    background-image: url("../img/advantages1.svg"); }
  .advantages__item--hours::before {
    background-image: url("../img/advantages2.svg"); }
  .advantages__item--sheets::before {
    background-image: url("../img/advantages3.svg"); }
  .advantages__item--notarial::before {
    background-image: url("../img/advantages4.svg"); }

.advantages__text {
  color: #969696; }

.blog {
  margin-top: 75px; }

.blog__description {
  margin-top: 37px; }

.blog__read {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #005096;
  margin-left: auto;
  width: 120px; }
  .blog__read::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid #005096;
    border-right: 1px solid #005096;
    transform: rotate(45deg); }

.blog__more {
  display: block;
  margin: 0 auto;
  color: #005096;
  text-underline-offset: 7px;
  width: 100px;
  text-align: center;
  margin-top: 37px; }

.reviews {
  margin-top: 75px; }

.reviews__wrapper {
  margin-top: 37px; }

.reviews__list {
  list-style: none; }

.reviews__img {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  border-radius: 5px; }

.reviews__description {
  text-align: center;
  margin-top: 12px; }

.tns-nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-top: 15px; }

.tns-nav button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none; }

.tns-nav-active {
  background-color: #969696; }

.payment {
  margin-top: 75px; }

.payment__wrapper {
  display: grid;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px; }
  @media (min-width: 1200px) {
    .payment__wrapper {
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
      padding: 0 50px; } }

.payment__title {
  font-size: 32px;
  font-weight: normal; }
  @media (min-width: 1200px) {
    .payment__title {
      white-space: nowrap; } }

.payment__list {
  list-style: none;
  display: grid;
  gap: 37px; }
  @media (max-width: 1199px) {
    .payment__list {
      margin-top: 37px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .payment__list {
      justify-self: center; } }
  @media (min-width: 1200px) {
    .payment__list {
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
      justify-self: end; } }

.payment__item {
  padding-left: 60px;
  position: relative;
  display: grid;
  align-items: center; }
  .payment__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .payment__item--sber::before {
    background-image: url("../img/sber.svg"); }
  .payment__item--terminal::before {
    background-image: url("../img/atm.svg"); }
  .payment__item--umoney::before {
    background-image: url("../img/umoney.svg"); }
  .payment__item--cash::before {
    background-image: url("../img/cash.svg"); }
  @media (min-width: 768px) {
    .payment__item--cash {
      grid-area: 2 / 1 / 3 / 2; } }
  .payment__item--other::before {
    background-image: url("../img/other.svg"); }
  @media (min-width: 768px) {
    .payment__item--other {
      grid-area: 2 / 2 / 3 / 4; } }
  @media (min-width: 1200px) {
    .payment__item {
      min-width: 132px;
      max-width: 430px; } }

.getting {
  margin-top: 75px; }

.getting__list {
  margin-top: 37px;
  list-style: none;
  display: grid;
  row-gap: 37px; }
  @media (min-width: 1200px) {
    .getting__list {
      grid-template-columns: repeat(3, 1fr);
      -moz-column-gap: 37px;
           column-gap: 37px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .getting__item {
    display: grid;
    grid-template-areas: "img title" "img description";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px; } }

.getting__img {
  width: 100%;
  grid-area: img; }

.getting__title {
  grid-area: title;
  font-size: 16px;
  font-weight: 600; }

.getting__description {
  grid-area: description; }

/* Индикатор загрузки, который показывается до загрузки карты */
.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  transition: opacity .7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55); }

.loader:after,
.loader:before {
  box-sizing: border-box; }

.loader.is-active {
  top: 0;
  opacity: 1; }

.loader-default:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: '';
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%; }

@-webkit-keyframes rotation {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes blink {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@keyframes blink {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

.map {
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.map__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block; }
  .map__img--hidden {
    display: none; }

.map__yandex {
  height: 400px; }
  .map__yandex--hidden {
    height: 0; }

.contacts {
  margin-top: 75px; }

.contacts__outer-wrapper {
  margin-top: 37px;
  position: relative; }

@media (min-width: 700px) {
  .contacts__inner-wrapper {
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 60px;
    padding: 37px; } }

.contacts__map {
  height: 450px;
  width: 100%;
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat; }
  @media (max-width: 699px) {
    .contacts__map {
      background-position: -250px;
      height: 350px; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map@2x.jpg"); } }

@media (max-width: 699px) {
  .contacts__info {
    margin-top: 12px; } }

.contacts__workinghours {
  margin-top: 12px; }

.contacts__email, .contacts__tel {
  text-decoration: none;
  color: #005096; }
  .contacts__email:hover, .contacts__tel:hover {
    text-decoration: underline;
    text-underline-offset: 5px; }

/*# sourceMappingURL=style.css.map */
